In [61]:
l1 = [14,67,89,45,36,67,89,52,54,61]

l2 = [0,1,2,3,4,5,6,7,8,9,10]

In [62]:
print(l1)

[14, 67, 89, 45, 36, 67, 89, 52, 54, 61]

In [66]:
print(set(zip(l1,l2)))

{(45, 3), (61, 9), (67, 1), (36, 4), (89, 6), (52, 7), (14, 0), (54, 8), (89, 2), (67, 5)}

# Why when we convert packed values into set, doesn't prints those values in order ?

# The question is till unanswered

In [55]:
for i,j in list(zip(l1,l2)):
    
    if i % 2 == 0:
        
        print("The number {} is even".format(tuple([j,i])))
        
    else:
        
        print("The number {} is odd".format(tuple([j,i])))
        
print("All the numbers are determined whether they are even or odd")

The number (0, 14) is even
The number (1, 67) is odd
The number (2, 89) is odd
The number (3, 45) is odd
The number (4, 36) is even
The number (5, 67) is odd
The number (6, 89) is odd
The number (7, 52) is even
The number (8, 54) is even
The number (9, 61) is odd
All the numbers are determined whether they are even or odd

In [32]:
l.append(89)

In [33]:
print(l)

[251, 67, 89, 45, 36, 67, 89, 52, 54, 61, 89]

In [34]:
range(0,10)

range(0, 10)

In [6]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
'range(0,10)'

'range(0,10)'

In [52]:
i,j = (90,45)

In [53]:
i

90

In [54]:
j

45

In [58]:
l1 = [0,1,2,3,4]

l2 = [90,56,78,97,56,45]

In [59]:
list(zip(l1,l2))

[(0, 90), (1, 56), (2, 78), (3, 97), (4, 56)]

# Shallow copy and deep copy difference

# Update function of the dictionary

# Effort to understand the difference between shallow copy and deep copy

In [68]:
l1 = [[1,2,3],[4,5,6],9]

In [69]:
l2 = l1

In [70]:
l2[2]

9

In [71]:
l2[2] = 11

In [72]:
print(l2)

[[1, 2, 3], [4, 5, 6], 11]

In [73]:
print(l1)

[[1, 2, 3], [4, 5, 6], 11]

In [74]:
l2[1][0]

4

In [75]:
l2[1][0] = 19

In [76]:
l2

[[1, 2, 3], [19, 5, 6], 11]

In [77]:
l1

[[1, 2, 3], [19, 5, 6], 11]

In [78]:
l2 = l1.copy()

In [79]:
l1

[[1, 2, 3], [19, 5, 6], 11]

In [80]:
l2

[[1, 2, 3], [19, 5, 6], 11]

In [81]:
l2[2]

11

In [82]:
l2[2] = 13

In [83]:
l2

[[1, 2, 3], [19, 5, 6], 13]

In [84]:
l1

[[1, 2, 3], [19, 5, 6], 11]

In [85]:
l2[1][2] = 9

In [86]:
l2

[[1, 2, 3], [19, 5, 9], 13]

In [87]:
l1

[[1, 2, 3], [19, 5, 9], 11]

In [88]:
import copy

In [89]:
l2 = copy.deepcopy(l1)

In [90]:
l2

[[1, 2, 3], [19, 5, 9], 11]

In [91]:
l2[0][1] = 6

In [92]:
l2

[[1, 6, 3], [19, 5, 9], 11]

In [93]:
l1

[[1, 2, 3], [19, 5, 9], 11]

# Update function of dictionaries

In [96]:
D = dict(zip(["jaskirat","dhruv","rahul"],[34,56,78]))

In [97]:
D

{'jaskirat': 34, 'dhruv': 56, 'rahul': 78}

In [98]:
E = dict(zip(["jaskirat","abhishek"],[90,45]))

In [99]:
D.update(E)

In [100]:
D

{'jaskirat': 90, 'dhruv': 56, 'rahul': 78, 'abhishek': 45}

In [116]:
E = set(zip(["jaskirat","dhruv","rahul","abhishek","rohit"],[32,56,94,34,23]))

In [117]:
E

{('abhishek', 34),
 ('dhruv', 56),
 ('jaskirat', 32),
 ('rahul', 94),
 ('rohit', 23)}

In [118]:
D.update(E)

In [119]:
D

{'jaskirat': 32, 'dhruv': 56, 'rahul': 94, 'abhishek': 34, 'rohit': 23}

In [3]:
empty_string = str()

In [5]:
empty_string

''

In [7]:
another_empty_string = ""

In [8]:
another_empty_string

''

In [9]:
one_string = "Jaskirat"

another_string = "Singh"

In [10]:
third_string = one_string + another_string

In [11]:
third_string

'JaskiratSingh'

In [19]:
third_string*" jas"

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
s = "this is going to be a very interesting shallow introduction to string data"

In [21]:
s[0]

'T'

In [22]:
s[1]

'h'

In [23]:
s[2]

'i'

In [24]:
s[3]

's'

In [25]:
s[4]

' '

In [26]:
s

'This is going to be a very interesting shallow introduction to string data'

In [27]:
len(s)

74

In [28]:
l = [90,67,56,93]

In [29]:
len(l)

4

In [36]:
s.capitalize()

'This is going to be a very interesting shallow introduction to string data'

In [37]:
s = "this is getting more interesting. now comes the complex part"

In [38]:
s.capitalize()

'This is getting more interesting. now comes the complex part'

In [39]:
s.casefold()

'this is getting more interesting. now comes the complex part'

In [40]:
s = "THIS is GOing TO Be aN aMAZing STriNg"

In [41]:
s.casefold()

'this is going to be an amazing string'

In [42]:
"THIS" == "this"

False

In [43]:
"THIS" == "THIS"

True

In [44]:
"this" == "this"

True

In [45]:
s

'THIS is GOing TO Be aN aMAZing STriNg'

# Some kind of confusion regarding center function. Need to revisit.

In [48]:
s = s.casefold()

In [49]:
s

'this is going to be an amazing string'

# Need to revisit encode function in strings in detail

# Need to revisit expandtabs function of string data

In [59]:
string_index = s.find("ing")

In [60]:
string_index

10

In [61]:
s = s +  "{}"

In [62]:
s

'this is going to be an amazing string{}'

In [63]:
s.format("jaskirat")

'this is going to be an amazing stringjaskirat'

In [64]:
print("the number {} is prime".format(13))

the number 13 is prime

# format_map yet to be discussed

In [66]:
s.isalnum()

False

In [83]:
s = "thenumber13isprime"

In [73]:
s.isalnum()

True

In [76]:
s.isalpha()

True

In [80]:
s = "13"

In [81]:
s.isdecimal()

True

In [84]:
s.islower()

True

In [85]:
s = "THIS"

In [86]:
s.islower()

False

In [87]:
first_string = "4"

In [88]:
second_string = "3"

In [92]:
third_string = int(first_string) + int(second_string)

In [93]:
third_string

7

In [95]:
s = "456"

In [96]:
int(s)

456

In [97]:
s = "18.11"

In [98]:
float(s)

18.11

In [99]:
int("56b875f4")

ValueError: invalid literal for int() with base 10: '56b875f4'

In [100]:
str(456)

'456'

In [101]:
str(18.11)

'18.11'